
## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis and Visualization with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Exploratory Data Analysis (EDA) Project</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">AutoScout Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Exploratory Data Analysis (EDA) Project***". This is the project of completing ***Data Analysis & Data Visualization*** Courses from Clarusway. **Auto Scout** data used in this project scraped from the Website of an online car trading company in 2022, and contains many features of 13 different car makes including 594 models. In this project, I apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using a variety of Python libraries, such as Numpy, Pandas, Matplotlib, Seaborn, Scipy, and then I get a clean dataset for  analysis and pretictive modelling in Machine Learning Path. 

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to ``'Data Cleaning'``. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to ``'Filling Data'``, in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation, Encoding, is done as well.
* **The third part** is related to ``'Handling Outliers of Data'`` via Visualization libraries. So, some insights will be extracted.



### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

# PART- 1 `( Data Cleaning )`

## Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns

In [1]:
# Import the libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
# !pip install termcolor
from termcolor import colored
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams

In [2]:
# Set it None to display all rows in the dataframe
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_rows', df.shape[0]+1)

# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

In [3]:
# Read data in json form
df0 = pd.read_json('as24_cars.json')

# Make a copy
df = df0.copy()

# Show some records
df.sample(2).T

,21176,2175
make_model,Nissan Pulsar,Mercedes-Benz E 300
short_description,1.5dCi N-CONNECTA,de / EQ POWER-PLUG IN HYBRID / SCHIEBDACH
make,\nNissan\n,\nMercedes-Benz\n
model,"[\n, Pulsar ,\n]","[\n, E 300 ,\n]"
location,"Ctra. del Mig, 96,, 08097 L'Hospitalet de Llo...","Am Marschallfeld 25, 83626 Valley ( bei Münch..."
price,"€ 13,490.-","€ 54,950.-"
Body type,"[\n, Sedan, \n]","[\n, Sedan, \n]"
Type,"[\n, Used, \n]","[\n, Used, \n]"
Doors,"[\n, 5, \n]","[\n, 4, \n]"
Country version,"[\n, Spain, \n]","[\n, Germany, \n]"
Offer number,"[\n, 7306903, \n]",NaN
Warranty,"[\n, 12 months, \n]",NaN
Mileage,"102,813 km","17,200 km"
First registration,01/2017,05/2021
Gearbox,[\nManual\n],[\nAutomatic\n]
Fuel type,Diesel,NaN
Colour,Grey,Black
Paint,NaN,Metallic
desc,"[ , Precio al contado: 16490 euros, , Para co...","[Preis netto: 46.176.-, uvb. Neupreis: 72.026...."
seller,Dealer,Dealer
Seats,NaN,"[\n, 5, \n]"
Power,[\n81 kW (110 hp)\n],[\n225 kW (306 hp)\n]
Engine size,"[\n1,500 cc\n]","[\n1,950 cc\n]"
Gears,NaN,[\n9\n]
CO₂-emissions,NaN,37 g/km (comb.)
Manufacturer colour,Gris,OBSIDIANSCHWARZ - METALLICLACK
Drivetrain,NaN,NaN
Cylinders,NaN,[\n4\n]
Fuel consumption,"[[3.6 l/100 km (comb.)], [4.1 l/100 km (city)]...",[[2.2 l/100 km (comb.)]]
\nComfort & Convenience\n,NaN,"[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,NaN,"[Android Auto, Apple CarPlay, Bluetooth, Digit..."
\nSafety & Security\n,NaN,"[ABS, Adaptive headlights, Blind spot monitor,..."
\nExtras\n,NaN,"[Alloy wheels, Ambient lighting, Automatically..."
Empty weight,NaN,"[\n2,060 kg\n]"
Model code,NaN,"[\n, 2222/AIO, \n]"
General inspection,NaN,NaN
Last service,NaN,NaN
Full service history,NaN,Yes
Non-smoker vehicle,NaN,NaN
Emission class,NaN,Euro 6d
Emissions sticker,NaN,4 (Green)
Upholstery colour,NaN,Black
Upholstery,NaN,Part leather
Production date,NaN,NaN
Previous owner,NaN,"[[17,200 km, 05/2021], 1]"
Other fuel types,NaN,Electricity
Power consumption,NaN,NaN
Energy efficiency class,NaN,NaN
CO₂-efficiency,NaN,NaN
Fuel consumption (WLTP),NaN,NaN
CO₂-emissions (WLTP),NaN,NaN
Available from,NaN,NaN
Taxi or rental car,NaN,NaN
Availability,NaN,NaN
Last timing belt change,NaN,NaN
Electric Range (WLTP),NaN,NaN
Power consumption (WLTP),NaN,NaN
Battery Ownership,NaN,NaN

In the samples we looked at, it is clear that most columns of the data are dirty. So let's change the column names and extract the useful information from the columns. Then bring it to the appropriate form.

In [4]:
# Make the name of columns in a format
df.columns

Index(['make_model', 'short_description', 'make', 'model', 'location', 'price',
       'Body type', 'Type', 'Doors', 'Country version', 'Offer number',
       'Warranty', 'Mileage', 'First registration', 'Gearbox', 'Fuel type',
       'Colour', 'Paint', 'desc', 'seller', 'Seats', 'Power', 'Engine size',
       'Gears', 'CO₂-emissions', 'Manufacturer colour', 'Drivetrain',
       'Cylinders', 'Fuel consumption', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nSafety & Security\n', '\nExtras\n',
       'Empty weight', 'Model code', 'General inspection', 'Last service',
       'Full service history', 'Non-smoker vehicle', 'Emission class',
       'Emissions sticker', 'Upholstery colour', 'Upholstery',
       'Production date', 'Previous owner', 'Other fuel types',
       'Power consumption', 'Energy efficiency class', 'CO₂-efficiency',
       'Fuel consumption (WLTP)', 'CO₂-emissions (WLTP)', 'Available from',
       'Taxi or rental car', 'Availability', 'Last timing belt change',
       'Electric Range (WLTP)', 'Power consumption (WLTP)',
       'Battery Ownership'],
      dtype='object')

#### Rename the name of columns

In [5]:
df.columns = ['make_model', 'short_description', 'make', 'model', 'location', 'price',
       'body_type', 'type', 'doors', 'country_version', 'offer_number',
       'warranty', 'mileage', 'first_registration', 'gearbox', 'fuel_type',
       'colour', 'paint', 'desc', 'seller', 'seats', 'power', 'engine_size',
       'gears', 'CO2_emissions', 'manufacturer_colour', 'drivetrain',
       'cylinders', 'fuel_consumption', 'comfort_convenience',
       'entertainment_media', 'safety_security', 'extras',
       'empty_weight', 'model_code', 'general_inspection', 'last_service',
       'full_service_history', 'nonsmoker_vehicle', 'emission_class',
       'emissions_sticker', 'upholstery_colour', 'upholstery',
       'production_date', 'previous_owner', 'other_fuel_types',
       'power_consumption', 'energy_efficiency_class', 'CO2_efficiency',
       'fuel_consumption(WLTP)', 'CO2_emissions(WLTP)', 'available_from',
       'taxi_or_rentalcar', 'availability', 'last_timing_belt_change',
       'electric_range(WLTP)', 'power_consumption(WLTP)',
       'battery_ownership']

In [6]:
from termcolor import cprint
def missing_values(df):
    cprint('Missing Value Information Per Column:\n', 'blue', attrs=['bold'])
    missing_count = df.isnull().sum().sort_values()
    missing_percent = (df.isnull().sum() / df.shape[0] * 100).sort_values()
    missing_values = pd.concat({'Missing_Count': missing_count, 'Missing_Percentage %' : missing_percent}, axis=1)
    return missing_values[missing_values['Missing_Count']>0]

In [7]:
missing_values(df)

Missing Value Information Per Column:

                         Missing_Count  Missing_Percentage %
make_model                         850              2.883311
short_description                  850              2.883311
make                               850              2.883311
model                              850              2.883311
location                           850              2.883311
price                              850              2.883311
body_type                          850              2.883311
type                               850              2.883311
seller                             850              2.883311
mileage                            851              2.886703
first_registration                 852              2.890095
gearbox                           1098              3.724559
doors                             1209              4.101085
power                             1422              4.823609
desc                              1433              4.860923
engine_size                       2253              7.642469
colour                            2574              8.731343
fuel_type                         2637              8.945047
seats                             3975             13.483718
comfort_convenience               4047             13.727951
safety_security                   4065             13.789009
entertainment_media               5836             19.796472
extras                            6000             20.352782
fuel_consumption                  6095             20.675034
offer_number                      6380             21.641791
manufacturer_colour               7693             26.095658
gears                            10526             35.705563
cylinders                        10628             36.051560
upholstery                       10870             36.872456
CO2_emissions                    10886             36.926730
emission_class                   11621             39.419946
empty_weight                     11722             39.762551
drivetrain                       12587             42.696744
country_version                  12591             42.710312
warranty                         13696             46.458616
upholstery_colour                14911             50.580054
paint                            14985             50.831072
previous_owner                   15465             52.459294
full_service_history             16915             57.377883
general_inspection               17226             58.432836
nonsmoker_vehicle                17886             60.671642
emissions_sticker                20066             68.066486
model_code                       21113             71.618046
energy_efficiency_class          21676             73.527815
CO2_efficiency                   21676             73.527815
production_date                  23572             79.959294
other_fuel_types                 27167             92.154003
last_service                     27477             93.205563
last_timing_belt_change          28908             98.059701
power_consumption                28965             98.253053
taxi_or_rentalcar                29058             98.568521
available_from                   29087             98.666893
availability                     29179             98.978969
CO2_emissions(WLTP)              29364             99.606513
fuel_consumption(WLTP)           29380             99.660787
power_consumption(WLTP)          29464             99.945726
electric_range(WLTP)             29464             99.945726
battery_ownership                29473             99.976255

**There may be strange values. Therefore, check the different values of each column. Then get the necessary information.**

#### make_model

In [8]:
df.make_model.value_counts(dropna=False)

make_model
Renault Megane     863
NaN                850
SEAT Leon          787
Volvo V40          740
Dacia Sandero      730
                  ...
Toyota GR86          1
Toyota Tacoma        1
Toyota Tundra        1
Toyota 4-Runner      1
Volvo 244            1
Name: count, Length: 612, dtype: int64

#### short_description

In [9]:
df.short_description.value_counts()

short_description
                                                      213
D2 Momentum 120                                        88
D2 Kinetic 120                                         87
Cabrio 1.4T S&S Excellence                             85
Extreme+ 7-Sitzer TCe 110                              57
                                                     ...
PureTech  EAT8 Allure Pack...DISP. PER NOLEGGIO         1
BlueHDi 130 S&S EAT8 Business                           1
2.0 BlueHDi 180ch S\u0026S GT Line EAT8                 1
1.2 PureTech Première AUT. NAVI PANO                    1
2.9 Executive G. NETTE AUTO! LEER! NAVI! CRUISE! L      1
Name: count, Length: 20947, dtype: int64

In [10]:
df.drop('short_description', axis=1, inplace=True)

#### make

In [11]:
df['make'].value_counts()

make
\nVolvo\n            3659
\nMercedes-Benz\n    2398
\nOpel\n             2385
\nPeugeot\n          2360
\nRenault\n          2351
\nFiat\n             2338
\nFord\n             2324
\nNissan\n           2064
\nToyota\n           2038
\nHyundai\n          1867
\nSEAT\n             1743
\nSkoda\n            1566
\nDacia\n            1537
Name: count, dtype: int64

In [12]:
# Get the name of brands and reassign it
df['make'] = df['make'].str.extract("\n(.*)\n")

#### price

In [13]:
# Check the distinct values of 'price'
df['price'].value_counts()

price
€ 14,990.-    222
€ 12,990.-    219
€ 16,990.-    186
€ 19,990.-    166
€ 9,990.-     160
             ...
€ 19,112.-      1
€ 30,465.-      1
€ 18,461.-      1
€ 22,649.-      1
€ 4,440.-       1
Name: count, Length: 5021, dtype: int64

In [14]:
# Get the numbers and reassign it to itself
df['price'] = df.price.str.extract('(\d+.\d+)')

In [15]:
# Remove the commas and change the type to float
df['price'] = df.price.str.replace(',', '').astype(float)

#### model, body_type, type, doors, country_version, offer_number, seats, drivetrain

In [16]:
# Check the distinct values
for i in ['model', 'body_type', 'type', 'doors', 'country_version', 'offer_number', 'seats', 'drivetrain']:
    display(df[i].value_counts())

model
[\n, Megane ,\n]        863
[\n, Leon ,\n]          787
[\n, V40 ,\n]           740
[\n, Sandero ,\n]       730
[\n, i30 ,\n]           706
                       ...
[\n, GLA 35 AMG ,\n]      1
[\n, G 55 AMG ,\n]        1
[\n, Ariya ,\n]           1
[\n, 105 ,\n]             1
[\n, 244 ,\n]             1
Name: count, Length: 594, dtype: int64

body_type
[\n, Station wagon, \n]       5448
[\n, Off-Road/Pick-up, \n]    5415
[\n, Compact, \n]             5387
[\n, Sedan, \n]               5043
[\n, Coupe, \n]               4009
[\n, Convertible, \n]         3328
Name: count, dtype: int64

type
[\n, Used, \n]              25251
[\n, Demonstration, \n]      1433
[\n, Pre-registered, \n]     1377
[\n, Employee's car, \n]      569
Name: count, dtype: int64

doors
[\n, 5, \n]    17481
[\n, 2, \n]     5523
[\n, 4, \n]     3001
[\n, 3, \n]     2259
[\n, 6, \n]        5
[\n, 1, \n]        2
Name: count, dtype: int64

country_version
[\n, Germany, \n]           7939
[\n, Spain, \n]             6376
[\n, Italy, \n]              679
[\n, Belgium, \n]            641
[\n, European Union, \n]     340
[\n, Netherlands, \n]        306
[\n, Austria, \n]            266
[\n, France, \n]             101
[\n, United States, \n]       57
[\n, Czechia, \n]             47
[\n, Poland, \n]              31
[\n, Hungary, \n]             21
[\n, Denmark, \n]             21
[\n, Romania, \n]             12
[\n, Japan, \n]               12
[\n, Switzerland, \n]          9
[\n, Luxembourg, \n]           9
[\n, Sweden, \n]               6
[\n, Slovenia, \n]             5
[\n, Slovakia, \n]             4
[\n, Croatia, \n]              3
[\n, Bulgaria, \n]             1
[\n, Malta, \n]                1
[\n, Canada, \n]               1
[\n, Mexico, \n]               1
Name: count, dtype: int64

offer_number
[\n, 1, \n]                        28
[\n, L-Vorlauf 2023, \n]           10
[\n, 20, \n]                        9
[\n, 30, \n]                        9
[\n, RE82542, \n]                   8
                                   ..
[\n, ggp-EP-880-ZS, \n]             1
[\n, 7475319, \n]                   1
[\n, abci-EZ-260-PS_130291, \n]     1
[\n, 7407611, \n]                   1
[\n, 43-JR-LR, \n]                  1
Name: count, Length: 20945, dtype: int64

seats
[\n, 5, \n]     18308
[\n, 4, \n]      5390
[\n, 2, \n]      1186
[\n, 7, \n]       488
[\n, 8, \n]        43
[\n, 9, \n]        35
[\n, 3, \n]        25
[\n, 6, \n]        12
[\n, 0, \n]         9
[\n, 1, \n]         7
[\n, 17, \n]        2
Name: count, dtype: int64

drivetrain
[\n, Front, \n]    12066
[\n, 4WD, \n]       3252
[\n, Rear, \n]      1575
Name: count, dtype: int64

**Define a function for columns saved in a similar way**

In [17]:
def scraping_list(x):
    return df[x].str[0].str.extract("\n,(.*),")

In [18]:
# Use the above function to clean the corresponding columns
for i in ['model', 'body_type', 'type', 'doors', 'country_version', 'offer_number', 'seats', 'drivetrain']:
    df[i] = scraping_list(i)

In [19]:
df['doors'] = df['doors'].astype(float)
df['seats'] = df['seats'].astype(float)

In [20]:
df.drop('offer_number', axis=1, inplace=True)

#### gears, cylinders

In [21]:
# Check the distinct values
for i in ['gears', 'cylinders']:
    display(df[i].value_counts(dropna=False))

gears
NaN         10526
[\n6\n]      8412
[\n5\n]      5335
[\n7\n]      1738
[\n8\n]      1690
[\n1\n]       712
[\n9\n]       642
[\n4\n]       256
[\n10\n]      112
[\n0\n]        31
[\n3\n]        24
[\n2\n]         2
Name: count, dtype: int64

cylinders
[\n4\n]     13068
NaN         10628
[\n3\n]      3258
[\n6\n]      1013
[\n5\n]       799
[\n8\n]       539
[\n2\n]       103
[\n0\n]        35
[\n1\n]        21
[\n12\n]        8
[\n7\n]         6
[\n26\n]        1
[\n16\n]        1
Name: count, dtype: int64

Columns gears and cylinders have the same structure. Therefore, I define the following function for them:

In [22]:
def scraping_list2(x):
    return df[x].str[0].str.extract("\n(.*)\n")

In [23]:
# Use the  function scraping_list2 to clean the corresponding columns
for i in ['gears', 'cylinders']:
    df[i] = scraping_list2(i)

In [24]:
df['gears'] = df['gears'].astype(float)
df['cylinders'] = df['cylinders'].astype(float)

**Continue to check other features**

#### location
This gives us not more info. But we can use country.

In [25]:
df['location'].value_counts(dropna=False)

location
NaN                                                         850
Av. Laboral, 10,  28021 MADRID, ES                          306
Luckenwalder Berg 5,  14913 Jüterbog, DE                    170
Ctra. del Mig, 96,,  08097 L'Hospitalet de Llobregat, ES    146
9 boulevard Jules Ferry,  75011 Paris, FR                   142
                                                           ...
2727CT ZOETERMEER, NL                                         1
Rosendaalsestraat 437-439,  6824 CK ARNHEM, NL                1
5751VH DEURNE, NL                                             1
00148 roma, IT                                                1
Sur rendez-vous,  5060 Sambreville, BE                        1
Name: count, Length: 8182, dtype: int64

In [26]:
df['location'] = df['location'].str[-2:]

#### warranty
**Important:** There is 'Yes'

In [27]:
# Check the distinct values of warranty. Notice that there is a strange value 'Yes'. All others are months.
df['warranty'].value_counts(dropna=False)

warranty
NaN                     13696
[\n, 12 months, \n]      9545
[\n, Yes, \n]            2319
[\n, 24 months, \n]      1515
[\n, 60 months, \n]       968
                        ...
[\n, 55 months, \n]         1
[\n, 99 months, \n]         1
[\n, 122 months, \n]        1
[\n, 44 months, \n]         1
[\n, 4 months, \n]          1
Name: count, Length: 66, dtype: int64

In [28]:
df['warranty'].str[0].str.extract('(\d+|Yes)').value_counts(dropna=False)

NaN    13696
12      9545
Yes     2319
24      1515
60       968
       ...
39         1
37         1
117        1
99         1
4          1
Name: count, Length: 66, dtype: int64

In [29]:
# Extract the numeric values and 'Yes'
df['warranty'] = df['warranty'].str[0].str.extract('(\d+|Yes)')

#### mileage

In [30]:
# Check the distinct values of 'mileage' feature
df['mileage'].value_counts(dropna=False)

mileage
NaN           851
10 km         586
1 km          172
50 km         133
100 km        119
             ...
141,589 km      1
59,821 km       1
123,500 km      1
29,781 km       1
230,047 km      1
Name: count, Length: 14184, dtype: int64

In [31]:
# Extract the numeric values and reassing it, change the type
df['mileage'] = df['mileage'].str.extract('(\d+,\d+,\d+|\d+,\d+|\d+)')
df['mileage'] = df['mileage'].str.replace(',', '').astype(float)

#### first_registration

**'first_registration'** feature has **month/year** format. Instead of it we use only year and define the following feature.

In [32]:
# Check the distinct values of 'first_registration' feature
df['first_registration'].value_counts(dropna=False)

first_registration
NaN        852
08/2022    454
06/2022    428
05/2019    420
06/2019    418
          ...
08/1980      1
06/1980      1
09/1970      1
06/1963      1
10/1979      1
Name: count, Length: 656, dtype: int64

In [33]:
# Define a new feature as 'first_registration_year'
df['first_registration_year'] = df['first_registration'].str.extract('\d+/(\d+)')

In [34]:
df['first_registration_year'] = pd.to_datetime(df['first_registration_year'], format='%Y')

In [35]:
df.drop('first_registration', axis=1, inplace=True)

#### gearbox

In [36]:
# Check the distinct values of 'gearbox' feature
df['gearbox'].value_counts(dropna=False)

gearbox
[\nManual\n]            17023
[\nAutomatic\n]         11287
NaN                      1098
[\nSemi-automatic\n]       72
Name: count, dtype: int64

In [37]:
# Clean this column
df['gearbox'] = df['gearbox'].str[0].str.extract('\n(\w+.*)\n')

#### fuel_type

In [38]:
# Check the distinct values of 'fuel_type' feature
df['fuel_type'].value_counts(dropna=False)

fuel_type
Gasoline                                                                                              8532
Diesel                                                                                                5911
Super 95                                                                                              3557
Diesel (Particle filter)                                                                              2816
NaN                                                                                                   2637
Regular/Benzine 91                                                                                    2065
Super E10 95                                                                                          1016
Regular/Benzine 91 (Particle filter)                                                                   555
Super 95 (Particle filter)                                                                             537
Super E10 95 (Particle filter)                                                                         324
Regular/Benzine E10 91                                                                                 278
Others                                                                                                 197
Gasoline (Particle filter)                                                                             196
Electric                                                                                               185
Super Plus 98                                                                                          170
Liquid petroleum gas (LPG)                                                                             148
CNG                                                                                                     87
LPG                                                                                                     73
Super Plus E10 98                                                                                       42
Super Plus E10 98 (Particle filter)                                                                     35
Domestic gas H                                                                                          24
Others (Particle filter)                                                                                16
Super Plus 98 (Particle filter)                                                                         15
Domestic gas L                                                                                          10
CNG (Particle filter)                                                                                    8
Regular/Benzine E10 91 (Particle filter)                                                                 8
LPG (Particle filter)                                                                                    4
Hydrogen                                                                                                 3
Ethanol                                                                                                  3
Electric (Particle filter)                                                                               3
Liquid petroleum gas (LPG) (Particle filter) / Super 95 / Super E10 95                                   3
Liquid petroleum gas (LPG) / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95                 2
Liquid petroleum gas (LPG) / Super 95 / Super E10 95                                                     2
Domestic gas L (Particle filter)                                                                         2
Liquid petroleum gas (LPG) (Particle filter)                                                             2
Liquid petroleum gas (LPG) / Super 95                                                                    2
Liquid petroleum gas (LPG) / Super 95 / Super E10 95 / Super Plus 98                                     2
Liquid petroleum gas (LPG) / Super 95 / Super Plus 98                                                    1
Super 95 (Particle filter) / Super E10 95 / Ethanol                                                      1
Liquid petroleum gas (LPG) / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95                 1
Liquid petroleum gas (LPG) / Super E10 95                                                                1
Biogas                                                                                                   1
Super 95 / Super Plus 98 / Liquid petroleum gas (LPG)                                                    1
Domestic gas L / Super 95 / Domestic gas H                                                               1
Domestic gas H / Super E10 95 / Super Plus E10 98 / Super 95 / Super Plus 98 / Domestic gas L            1
Liquid petroleum gas (LPG) / Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Biogas       1
Super 95 / Liquid petroleum gas (LPG)                                                                    1
Name: count, dtype: int64

#### colour

In [39]:
# Check the distinct values of 'colour' feature
df['colour'].value_counts(dropna=False)

colour
Black     6473
Grey      5998
White     5185
Blue      3478
NaN       2574
Red       2242
Silver    1622
Green      450
Brown      437
Orange     288
Beige      278
Yellow     230
Violet      98
Bronze      65
Gold        62
Name: count, dtype: int64

#### paint

In [40]:
# Check the distinct values of 'paint' feature
df['paint'].value_counts(dropna=False)

paint
NaN          14985
Metallic     14494
Uni/basic        1
Name: count, dtype: int64

#### desc

In [41]:
# Check some values of 'desc' column
df['desc'].sample(1)

15734    [ , Precio al contado: 9250 euros,  , *OCASION...
Name: desc, dtype: object

In [42]:
df.drop('desc', axis=1, inplace=True)

**Note** : The feature 'desc' is text that describes the auto. It contains so many opinions.

#### seller

In [43]:
# Check the distinct values of 'seller' feature
df['seller'].value_counts(dropna=False)

seller
Dealer            26318
Private seller     2312
NaN                 850
Name: count, dtype: int64

#### power

**The power feature contains two units, namely kW and hp.**

In [44]:
# Check the distinct values of 'power' feature
df['power'].value_counts(dropna=False)

power
[\n110 kW (150 hp)\n]      1992
NaN                        1422
[\n96 kW (131 hp)\n]       1356
[\n88 kW (120 hp)\n]       1182
[\n81 kW (110 hp)\n]       1166
                           ...
[\n746 kW (1,014 hp)\n]       1
[\n570 kW (775 hp)\n]         1
[\n471 kW (640 hp)\n]         1
[\n179 kW (243 hp)\n]         1
[\n26 kW (35 hp)\n]           1
Name: count, Length: 352, dtype: int64

In [45]:
df['power'].str[0].str.extract('\n\d+ kW \((\d+,\d+|\d+) hp\)\n').value_counts(dropna=False)

150      1992
NaN      1422
131      1356
120      1182
110      1166
         ...
321         1
53          1
1,014       1
324         1
322         1
Name: count, Length: 352, dtype: int64

In [46]:
df['power_hp'] = df['power'].str[0].str.extract('\n\d+ kW \((\d+,\d+|\d+) hp\)\n')

In [47]:
df['power_hp'] = df['power_hp'].str.replace(',','').astype(float)

df['power_kw']  = df['power'].str[0].str.extract('\n(\d+) kW')

In [48]:
df.drop('power',axis=1, inplace=True)

#### engine_size

In [49]:
# Check the distinct values of 'engine_size' feature
df['engine_size'].value_counts(dropna=False)

engine_size
NaN               2253
[\n1,598 cc\n]    2099
[\n999 cc\n]      2068
[\n1,969 cc\n]    1929
[\n1,461 cc\n]    1110
                  ...
[\n2,753 cc\n]       1
[\n2,495 cc\n]       1
[\n200 cc\n]         1
[\n3,224 cc\n]       1
[\n2,473 cc\n]       1
Name: count, Length: 468, dtype: int64

In [50]:
# Extract the numeric values and reassing it, then remove the comma
df['engine_size'] = df.engine_size.str[0].str.extract("(\d.\d+|\d+)")
df['engine_size'] = df['engine_size'].str.replace(',','').astype(float)

#### CO2_emissions

In [51]:
df['CO2_emissions'].str.count(',').sum()

9.0

In [52]:
# Check the distinct values of 'CO2_emissions' feature
df['CO2_emissions'].value_counts(dropna=False)

CO2_emissions
NaN                  10886
0 g/km (comb.)        1038
119 g/km (comb.)       393
124 g/km (comb.)       340
129 g/km (comb.)       319
                     ...
7 g/km (comb.)           1
80 g/km (comb.)          1
196  g/km (comb.)        1
100  g/km (comb.)        1
53 g/km (comb.)          1
Name: count, Length: 348, dtype: int64

In [53]:
# Extract the numeric values and reassing it, then remove the comma
df['CO2_emissions'] = df['CO2_emissions'].str.extract("(\d.*\d+|\d+)")
df['CO2_emissions'] = df['CO2_emissions'].str.replace(',','').astype(float)

#### manufacturer_colour

In [54]:
df['manufacturer_colour'].str.contains('metallic').sum()

2378

In [55]:
# Check the distinct values of 'manufacturer_colour' feature
df['manufacturer_colour'].value_counts(dropna=False)

manufacturer_colour
NaN                               7693
Blanco                            1235
Gris                               671
Azul                               552
Negro                              546
                                  ...
Colore esterno (snowflake whit       1
Pompeigraumetallic                   1
Cararragrau                          1
ICE WHITE (wit metallic)             1
Denim Blue metallic (blauw met       1
Name: count, Length: 4964, dtype: int64

#### fuel_consumption

**Note:** "City" consumption reflects urban driving with frequent stops and starts, usually resulting in higher fuel usage. "Country" or highway consumption indicates efficiency on open roads with steady speeds, generally leading to lower fuel consumption. "Combined" figures offer an average of city and highway consumption, giving an estimate for mixed driving scenarios. Hence I use 'Combined'.

In [56]:
# Check the distinct values of 'fuel_consumption' feature
df['fuel_consumption'].value_counts(dropna=False)

fuel_consumption
NaN                                                                            6095
[[0 l/100 km (comb.)]]                                                          330
[[0 l/100 km (comb.)], [0 l/100 km (city)], [0 l/100 km (country)]]             306
[[3.4 l/100 km (comb.)], [3.7 l/100 km (city)], [3.2 l/100 km (country)]]       170
[[4 l/100 km (comb.)]]                                                          149
                                                                               ...
[[14.2 l/100 km (comb.)], [21.3 l/100 km (city)], [10 l/100 km (country)]]        1
[[3.5 l/100 km (comb.)], [4.4 l/100 km (city)], [2.9 l/100 km (country)]]         1
[[4.5 l/100 km (comb.)], [6.2 l/100 km (city)], [3.5 l/100 km (country)]]         1
[[4.9 l/100 km (comb.)], [99.9 l/100 km (city)], [98 l/100 km (country)]]         1
[[10.4 l/100 km (comb.)], [15.3 l/100 km (city)], [7.6 l/100 km (country)]]       1
Name: count, Length: 3453, dtype: int64

In [57]:
df['fuel_consumption'].str[0].str[0].value_counts(dropna=False)

fuel_consumption
NaN                       6095
5 l/100 km (comb.)         818
4.9 l/100 km (comb.)       809
4.5 l/100 km (comb.)       690
5.1 l/100 km (comb.)       639
                          ...
6.5 kg/100 km (comb.)        1
4 kg/100 km (comb.)          1
7 l/100 km (city)            1
4.9 l/100 km (country)       1
9 l/100 km (country)         1
Name: count, Length: 219, dtype: int64

In [58]:
df['fuel_consumption'].str[1].str[0].value_counts(dropna=False)

fuel_consumption
NaN                     9323
5.8 l/100 km (city)      493
6.4 l/100 km (city)      484
5.3 l/100 km (city)      479
5.7 l/100 km (city)      462
                        ...
3.8 kg/100 km (city)       1
4.6 kg/100 km (city)       1
4.9 kg/100 km (city)       1
21.1 l/100 km (city)       1
8 kg/100 km (city)         1
Name: count, Length: 253, dtype: int64

In [59]:
df['fuel_consumption'].str[2].str[0].value_counts(dropna=False)

fuel_consumption
NaN                        9380
4.3 l/100 km (country)      865
4 l/100 km (country)        804
4.2 l/100 km (country)      748
4.7 l/100 km (country)      727
                           ...
6.6 kg/100 km (country)       1
5.5 kg/100 km (country)       1
3.9 kg/100 km (country)       1
11.5 l/100 km (country)       1
3.4 kg/100 km (country)       1
Name: count, Length: 143, dtype: int64

# df['fuel_consumption'].str[0].str[0].str.contains('kg').sum()
# df['fuel_consumption'] = df['fuel_consumption'].str.replace('kg','l')

In [60]:
df['fuel_consumption'] = df['fuel_consumption'].str[0].str[0].str.extract("(\d+\.*\d*)").astype("float")

In [61]:
df[df.fuel_consumption.isnull()]['fuel_consumption(WLTP)'].value_counts(dropna=False)

fuel_consumption(WLTP)
NaN              5995
5.5 l/100 km        9
5 l/100 km          8
5.4 l/100 km        5
6.8 l/100 km        5
6.5 l/100 km        4
5.7 l/100 km        4
7.3 l/100 km        4
5.2 l/100 km        3
4.9 l/100 km        3
6.6 l/100 km        3
6.7 l/100 km        3
5.9 l/100 km        2
6.1 l/100 km        2
5.6 l/100 km        2
4.7 l/100 km        2
4.4 l/100 km        2
5.8 l/100 km        2
6.3 l/100 km        2
6.2 l/100 km        2
8.4 l/100 km        2
16 l/100 km         2
7.6 l/100 km        2
12.6 l/100 km       2
9.3 l/100 km        2
1.5 l/100 km        1
12 l/100 km         1
5.3 l/100 km        1
8 l/100 km          1
8.2 l/100 km        1
4.8 l/100 km        1
4.1 l/100 km        1
4.2 l/100 km        1
4.3 l/100 km        1
1.1 l/100 km        1
3.9 l/100 km        1
6.4 l/100 km        1
8.6 l/100 km        1
10.3 l/100 km       1
12.2 l/100 km       1
12.3 l/100 km       1
8.3 l/100 km        1
7.2 l/100 km        1
9.6 l/100 km        1
9.1 l/100 km        1
12.9 l/100 km       1
10.4 l/100 km       1
7.8 l/100 km        1
Name: count, dtype: int64

#### comfort_convenience

In [62]:
df['comfort_convenience']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3        [Air conditioning, Automatic climate control, ...
4        [Air conditioning, Electrical side mirrors, Mu...
                               ...
29475    [Air conditioning, Armrest, Automatic climate ...
29476    [Air conditioning, Armrest, Automatic climate ...
29477    [Air conditioning, Armrest, Automatic climate ...
29478    [Air conditioning, Armrest, Cruise control, El...
29479                                                  NaN
Name: comfort_convenience, Length: 29480, dtype: object

In [63]:
df['comfort_convenience']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3        [Air conditioning, Automatic climate control, ...
4        [Air conditioning, Electrical side mirrors, Mu...
                               ...
29475    [Air conditioning, Armrest, Automatic climate ...
29476    [Air conditioning, Armrest, Automatic climate ...
29477    [Air conditioning, Armrest, Automatic climate ...
29478    [Air conditioning, Armrest, Cruise control, El...
29479                                                  NaN
Name: comfort_convenience, Length: 29480, dtype: object

In [64]:
df['comfort_convenience'][100]

['Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically adjustable seats, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Massage seats, Multi-function steering wheel, Navigation system, Panorama roof, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Rain sensor, Seat heating, Start-stop system, Tinted windows']

In [65]:
df['comfort_convenience'].str[0].str.split(',').explode().value_counts()

comfort_convenience
 Power windows                         22228
Air conditioning                       20531
 Electrical side mirrors               19989
 Multi-function steering wheel         17934
 Automatic climate control             17668
                                       ...
Light sensor                               2
Wind deflector                             1
Electric backseat adjustment               1
Heated steering wheel                      1
Parking assist system sensors front        1
Name: count, Length: 77, dtype: int64

In [66]:
df['comfort_convenience'].str[0]

0                                                      NaN
1                                                      NaN
2                                                      NaN
3        Air conditioning, Automatic climate control, P...
4        Air conditioning, Electrical side mirrors, Mul...
                               ...
29475    Air conditioning, Armrest, Automatic climate c...
29476    Air conditioning, Armrest, Automatic climate c...
29477    Air conditioning, Armrest, Automatic climate c...
29478    Air conditioning, Armrest, Cruise control, Ele...
29479                                                  NaN
Name: comfort_convenience, Length: 29480, dtype: object

#### entertainment_media

In [67]:
df['entertainment_media'].value_counts(dropna=False)

entertainment_media
NaN                                                                                                                                                                          5836
[Bluetooth, USB]                                                                                                                                                              753
[Bluetooth]                                                                                                                                                                   665
[On-board computer]                                                                                                                                                           662
[CD player, On-board computer, Radio]                                                                                                                                         644
                                                                                                                                                                             ...
[Android Auto, Apple CarPlay, Bluetooth, Digital cockpit, Digital radio, Induction charging for smartphones, On-board computer, Radio, Sound system, WLAN / WiFi hotspot]       1
[Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Integrated music streaming, On-board computer, Sound system, USB, WLAN / WiFi hotspot]             1
[Digital cockpit, Digital radio, On-board computer, Radio]                                                                                                                      1
[Android Auto, Apple CarPlay, Digital radio, On-board computer, Radio, Sound system, USB, WLAN / WiFi hotspot]                                                                  1
[Hands-free equipment, Integrated music streaming, On-board computer, Radio, USB]                                                                                               1
Name: count, Length: 1945, dtype: int64

In [68]:
df['entertainment_media'].str[0].str.split(',').explode().value_counts()

entertainment_media
 Radio                                 17166
 On-board computer                     16728
 USB                                   14420
 Hands-free equipment                  13175
Bluetooth                              10414
 MP3                                    9309
 Digital radio                          8426
 Bluetooth                              7222
Android Auto                            7111
 Apple CarPlay                          6936
 Sound system                           6679
 CD player                              5398
 Digital cockpit                        3632
 Integrated music streaming             3341
CD player                               2803
 WLAN / WiFi hotspot                    2132
 Induction charging for smartphones     2009
On-board computer                       1064
Radio                                    473
Apple CarPlay                            422
Hands-free equipment                     413
Digital radio                            402
MP3                                      239
 Television                              134
USB                                      125
Digital cockpit                           99
Sound system                              66
Integrated music streaming                 5
Induction charging for smartphones         4
WLAN / WiFi hotspot                        4
Name: count, dtype: int64

#### safety_security

In [69]:
df['safety_security']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3        [ABS, Central door lock, Driver-side airbag, E...
4        [ABS, Central door lock, Driver-side airbag, E...
                               ...
29475    [ABS, Central door lock, Central door lock wit...
29476    [ABS, Alarm system, Central door lock with rem...
29477    [Adaptive Cruise Control, Adaptive headlights,...
29478    [ABS, Alarm system, Central door lock, Central...
29479                                                  NaN
Name: safety_security, Length: 29480, dtype: object

In [70]:
df['safety_security'].str[0].str.split(',').explode().value_counts()

safety_security
ABS                                23197
 Driver-side airbag                21741
 Power steering                    21488
 Passenger-side airbag             21038
 Side airbag                       20872
                                   ...
Side airbag                            3
Tire pressure monitoring system        2
Xenon headlights                       2
Lane departure warning system          1
High beam assist                       1
Name: count, Length: 66, dtype: int64

#### extras

In [71]:
df['extras']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                            [Sport seats]
4                                                      NaN
                               ...
29475                  [Alloy wheels (16"), Trailer hitch]
29476    [Alloy wheels, Automatically dimming interior ...
29477    [Alloy wheels (18"), Automatically dimming int...
29478    [Alloy wheels, Automatically dimming interior ...
29479                                                  NaN
Name: extras, Length: 29480, dtype: object

In [72]:
df['extras'].str[0].str.split(',').explode().value_counts()

extras
Alloy wheels                              13626
 Touch screen                              9017
 Voice Control                             8083
 Automatically dimming interior mirror     7543
 Sport seats                               6634
                                          ...
Alloy wheels (26")                            1
Awning                                        1
 Alloy wheels (13")                           1
Alloy wheels (23")                            1
Alloy wheels (10")                            1
Name: count, Length: 89, dtype: int64

#### empty_weight

In [73]:
df['empty_weight'].value_counts(dropna=False)

empty_weight
NaN               11722
[\n1,395 kg\n]      233
[\n1,055 kg\n]      224
[\n1,423 kg\n]      216
[\n1,165 kg\n]      200
                  ...
[\n1,877 kg\n]        1
[\n1,011 kg\n]        1
[\n1,069 kg\n]        1
[\n983 kg\n]          1
[\n1,391 kg\n]        1
Name: count, Length: 1219, dtype: int64

In [74]:
df['empty_weight'] = df['empty_weight'].str[0].str.extract("\n(.*) kg\n")
df['empty_weight'] = df['empty_weight'].str.replace(',','').astype(float)
df['empty_weight'].value_counts(dropna=False)

empty_weight
NaN       11722
1395.0      233
1055.0      224
1423.0      216
1165.0      200
          ...
1877.0        1
1011.0        1
1069.0        1
983.0         1
1391.0        1
Name: count, Length: 1219, dtype: int64

#### model_code

In [75]:
df['model_code'].value_counts(dropna=False)

model_code
NaN                   21113
[\n, 8212/AFJ, \n]       75
[\n, 1727/AAM, \n]       64
[\n, 1349/AGI, \n]       61
[\n, 1889/ABU, \n]       55
                      ...
[\n, 7593/ANL, \n]        1
[\n, 1727/ABC, \n]        1
[\n, 4136/AEC, \n]        1
[\n, 4136/668, \n]        1
[\n, 9101/449, \n]        1
Name: count, Length: 2187, dtype: int64

In [76]:
df['model_code'] = df['model_code'].str[0].str.extract("\n,(.*), \n")
df['model_code'].value_counts(dropna=False)

model_code
NaN          21113
 8212/AFJ       75
 1727/AAM       64
 1349/AGI       61
 1889/ABU       55
             ...
 7593/ANL        1
 1727/ABC        1
 4136/AEC        1
 4136/668        1
 9101/449        1
Name: count, Length: 2187, dtype: int64

In [77]:
df.drop('model_code', axis=1, inplace=True)

#### general_inspection

In [78]:
df['general_inspection'].value_counts(dropna=False)

general_inspection
NaN        17226
New         5883
05/2023      286
08/2023      280
03/2023      268
           ...
09/2017        1
08/2013        1
08/2020        1
08/2018        1
03/2021        1
Name: count, Length: 92, dtype: int64

In [79]:
df.drop('general_inspection', axis=1, inplace=True)

#### last_service

In [80]:
df['last_service'].value_counts(dropna=False)

last_service
NaN        27477
09/2022      220
08/2022      196
06/2022      164
07/2022      155
           ...
02/2018        1
02/2011        1
10/2013        1
08/2017        1
08/2019        1
Name: count, Length: 62, dtype: int64

In [81]:
df['last_service'] = pd.to_datetime(df['last_service'], format='%m/%Y')
df['last_service'].value_counts(dropna=False)

last_service
NaT           27477
2022-09-01      220
2022-08-01      196
2022-06-01      164
2022-07-01      155
              ...
2018-02-01        1
2011-02-01        1
2013-10-01        1
2017-08-01        1
2019-08-01        1
Name: count, Length: 62, dtype: int64

In [82]:
df.drop('last_service', axis=1, inplace=True)

#### full_service_history

In [83]:
df['full_service_history'].value_counts(dropna=False)

full_service_history
NaN    16915
Yes    12565
Name: count, dtype: int64

#### nonsmoker_vehicle

In [84]:
df['nonsmoker_vehicle'].value_counts(dropna=False)

nonsmoker_vehicle
NaN    17886
Yes    11594
Name: count, dtype: int64

#### emission_class
Categorize Euro 6, Euro 6d-TEMP, Euro 6d, Euro 6c  as 6

In [85]:
df['emission_class'].value_counts(dropna=False)

emission_class
NaN             11621
Euro 6           6418
Euro 6d-TEMP     3399
Euro 6d          2858
Euro 5           2389
Euro 4           1743
Euro 3            523
Euro 2            217
Euro 1            172
Euro 6c           140
Name: count, dtype: int64

df['emission_class']= df['emission_class'].str.extract('(\d)')
df['emission_class'].value_counts(dropna=False)

def emission(x):
    if x in ['1','2']:
        return 'high pollutant'
    elif x in ['3','4']:
        return 'medium pollutant'
    elif x in ['5','6']:
        return 'low pollutant'

df['emission_class'].apply(emission).value_counts(dropna=False)

#### emissions_sticker
* 4 (Green)          
* 1 (No sticker)      
* 3 (Yellow)            
* 2 (Red) 
* Silelim

In [86]:
df['emissions_sticker'].value_counts(dropna=False)

emissions_sticker
NaN               20066
4 (Green)          9230
1 (No sticker)      176
3 (Yellow)            6
2 (Red)               2
Name: count, dtype: int64

In [87]:
df['emissions_sticker'] = df['emissions_sticker'].str.extract('(\d)')
df['emissions_sticker'] = df['emissions_sticker']

#### upholstery_colour

In [88]:
df['upholstery_colour'].value_counts(dropna=False)

upholstery_colour
NaN       14911
Black     10416
Grey       2038
Other      1003
Beige       466
Brown       275
Red         159
White        93
Blue         82
Orange       23
Green         8
Yellow        6
Name: count, dtype: int64

In [89]:
df.drop('upholstery_colour', axis=1,inplace=True)

#### upholstery

In [90]:
df['upholstery'].value_counts(dropna=False)

upholstery
NaN             10870
Cloth            8736
Full leather     5439
Part leather     2835
alcantara         764
Other             628
Velour            208
Name: count, dtype: int64

#### production_date

In [91]:
df['production_date'].value_counts(dropna=False)

production_date
NaN       23572
2019.0     1179
2021.0      980
2022.0      894
2020.0      763
2018.0      762
2017.0      391
2016.0      239
2015.0      118
2014.0       90
2013.0       76
2010.0       53
2012.0       43
2011.0       43
2008.0       34
2009.0       26
2007.0       20
2006.0       17
2002.0       15
2004.0       13
2003.0       13
1967.0       12
2001.0       12
1966.0       11
1999.0        9
2005.0        9
1965.0        9
1970.0        9
1997.0        8
1994.0        8
1968.0        7
2000.0        7
1998.0        5
1990.0        3
1973.0        3
1987.0        3
1993.0        3
1991.0        3
1996.0        3
1995.0        2
1969.0        2
1978.0        2
1982.0        2
1961.0        1
1954.0        1
1988.0        1
1962.0        1
1981.0        1
1985.0        1
1976.0        1
Name: count, dtype: int64

#### previous_owner

In [92]:
df['previous_owner'].value_counts(dropna=False)

previous_owner
NaN                           15465
[[50 km, 06/2022], 1]            64
[[10 km, 08/2022], 1]            59
[[10 km, 07/2022], 1]            45
[[10 km, 09/2022], 1]            38
                              ...
[[358,000 km, 10/2010], 2]        1
[[165,400 km, 09/2010], 1]        1
[[65,000 km, 10/2006], 1]         1
[[71,000 km, 04/2013], 1]         1
[[230,047 km, 07/2002], 5]        1
Name: count, Length: 11734, dtype: int64

In [93]:
df['previous_owner'].str[1].value_counts(dropna=False)

previous_owner
NaN    15465
1       9746
2       3221
3        699
4        184
5         69
6         37
7         22
8         16
9         14
12         3
10         2
14         1
13         1
Name: count, dtype: int64

In [94]:
df['previous_owner'].str[1].str.extract('(\d+)').value_counts(dropna=False)

NaN    15465
1       9746
2       3221
3        699
4        184
5         69
6         37
7         22
8         16
9         14
12         3
10         2
13         1
14         1
Name: count, dtype: int64

In [95]:
df['previous_owner'] = df['previous_owner'].str[1].str.extract('(\d+)')
df['previous_owner'] = df['previous_owner'].astype(float)

#### other_fuel_types

In [96]:
df['other_fuel_types'].value_counts(dropna=False)

other_fuel_types
NaN             27167
Electricity      2301
Hydogen            11
Super E10 95        1
Name: count, dtype: int64

#### power_consumption

In [97]:
df['power_consumption'].value_counts(dropna=False)

power_consumption
NaN                        28965
0 kWh/100 km (comb.)         101
15.2 kWh/100 km (comb.)       30
15.7 kWh/100 km (comb.)       19
17.7 kWh/100 km (comb.)       17
                           ...
18 kWh/100 km (comb.)          1
25.3 kWh/100 km (comb.)        1
12.7 kWh/100 km (comb.)        1
22.7 kWh/100 km (comb.)        1
20.4 kWh/100 km (comb.)        1
Name: count, Length: 105, dtype: int64

In [98]:
df['power_consumption'] = df['power_consumption'].str.extract('(\d+.\d+|\d+) kW').astype(float)

####  energy_efficiency_class

In [99]:
 df['energy_efficiency_class'].value_counts(dropna=False)

energy_efficiency_class
NaN     21676
B        2090
A        1687
C        1133
A+       1089
D         636
A+++      375
G         309
E         271
F         147
A++        67
Name: count, dtype: int64

**Domain knowledge:**

Vehicles with higher energy efficiency ratings are often more environmentally friendly and can result in cost savings due to lower fuel or energy consumption.

A (or A+++ to A): This represents the highest level of energy efficiency. Vehicles in this class are the most fuel-efficient or energy-efficient and typically have lower fuel consumption or energy usage per unit of distance traveled.

B: Vehicles in this class are also relatively fuel-efficient or energy-efficient but not as much as those in the A class.

C: This represents a moderate level of energy efficiency. Vehicles in this class are somewhat efficient but may consume more fuel or energy than A or B-class vehicles.

D (or lower): Vehicles in this class have lower energy efficiency and are typically less fuel-efficient or consume more energy per unit of distance traveled.

#### CO2_efficiency

In [100]:
 df['CO2_efficiency'].value_counts(dropna=False)

CO2_efficiency
NaN                                                                                           21676
Calculated on basis of measured CO₂-emissions taking into account the mass of the vehicle.     7804
Name: count, dtype: int64

#### fuel_consumption(WLTP)

In [101]:
 df['fuel_consumption(WLTP)'].value_counts(dropna=False)

fuel_consumption(WLTP)
NaN              29380
5.5 l/100 km         9
5 l/100 km           8
5.4 l/100 km         5
6.8 l/100 km         5
6.5 l/100 km         4
5.7 l/100 km         4
7.3 l/100 km         4
5.2 l/100 km         3
4.9 l/100 km         3
6.6 l/100 km         3
6.7 l/100 km         3
5.9 l/100 km         2
6.1 l/100 km         2
5.6 l/100 km         2
4.7 l/100 km         2
4.4 l/100 km         2
5.8 l/100 km         2
6.3 l/100 km         2
6.2 l/100 km         2
8.4 l/100 km         2
16 l/100 km          2
7.6 l/100 km         2
12.6 l/100 km        2
9.3 l/100 km         2
1.5 l/100 km         1
12 l/100 km          1
5.3 l/100 km         1
8 l/100 km           1
8.2 l/100 km         1
4.8 l/100 km         1
4.1 l/100 km         1
4.2 l/100 km         1
4.3 l/100 km         1
1.1 l/100 km         1
3.9 l/100 km         1
6.4 l/100 km         1
8.6 l/100 km         1
10.3 l/100 km        1
12.2 l/100 km        1
12.3 l/100 km        1
8.3 l/100 km         1
7.2 l/100 km         1
9.6 l/100 km         1
9.1 l/100 km         1
12.9 l/100 km        1
10.4 l/100 km        1
7.8 l/100 km         1
Name: count, dtype: int64

In [102]:
df['fuel_consumption(WLTP)'] = df['fuel_consumption(WLTP)'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

#### CO2_emissions(WLTP)	


**WLTP** (Worldwide Harmonized Light Vehicles Test Procedure)is a global standard for testing the fuel efficiency, emissions, and energy consumption of vehicles, including cars and light commercial vehicles.

In [103]:
 df['CO2_emissions(WLTP)'].value_counts(dropna=False)

CO2_emissions(WLTP)
NaN                 29364
0 g/km (comb.)         14
125 g/km (comb.)        8
130 g/km (comb.)        4
129 g/km (comb.)        4
                    ...
211 g/km (comb.)        1
218 g/km (comb.)        1
159 g/km (comb.)        1
115 g/km (comb.)        1
97 g/km (comb.)         1
Name: count, Length: 69, dtype: int64

In [104]:
df.drop('CO2_emissions(WLTP)', axis=1, inplace=True)

#### available_from

In [105]:
 df['available_from'].value_counts(dropna=False)

available_from
NaN                     29087
[\n, 01/03/2023, \n]       34
[\n, 01/10/2026, \n]       23
[\n, 31/03/2023, \n]       17
[\n, 08/10/2022, \n]       15
                        ...
[\n, 18/11/2022, \n]        1
[\n, 24/10/2022, \n]        1
[\n, 03/02/2023, \n]        1
[\n, 27/10/2022, \n]        1
[\n, 12/10/2022, \n]        1
Name: count, Length: 126, dtype: int64

In [106]:
df.drop('available_from', axis=1, inplace=True)

#### taxi_or_rentalcar

In [107]:
 df['taxi_or_rentalcar'].value_counts(dropna=False)

taxi_or_rentalcar
NaN    29058
Yes      422
Name: count, dtype: int64

#### availability

In [108]:
 df['availability'].value_counts(dropna=False)

availability
NaN                                  29179
[\n, in 1 day after order, \n]          64
[\n, in 5 days after order, \n]         56
[\n, in 7 days after order, \n]         31
[\n, in 3 days after order, \n]         25
[\n, in 14 days after order, \n]        22
[\n, in 60 days after order, \n]        21
[\n, in 42 days after order, \n]        15
[\n, in 180 days after order, \n]       12
[\n, in 90 days after order, \n]        10
[\n, in 120 days after order, \n]       10
[\n, in 6 days after order, \n]          9
[\n, in 270 days after order, \n]        8
[\n, in 28 days after order, \n]         5
[\n, in 2 days after order, \n]          5
[\n, in 4 days after order, \n]          4
[\n, in 21 days after order, \n]         2
[\n, in 360 days after order, \n]        1
[\n, in 150 days after order, \n]        1
Name: count, dtype: int64

In [109]:
df.drop('availability', axis=1, inplace=True)

#### last_timing_belt_change

Domain Knowledge:

Timing Belt is essential for the proper functioning of the engine. ths refers to the date at which the timing belt in a vehicle's engine was last replaced as part of routine maintenance.

Replacement interval typically ranges from 96,000 to 160,000 kilometers or every 5 to 7 years,

In [110]:
 df['last_timing_belt_change'].value_counts(dropna=False)

last_timing_belt_change
NaN        28908
04/2022       27
05/2021       26
08/2022       25
07/2022       24
           ...
07/2018        1
10/2015        1
12/2019        1
11/2018        1
07/2016        1
Name: count, Length: 87, dtype: int64

In [111]:
df.drop('last_timing_belt_change', axis=1, inplace=True)

#### electric_range(WLTP)

**hydrojen**

Domain knowledge:

Hybrid and electric vehicles produce zero CO emissions when operating in electric mode.

In [112]:
 df['electric_range(WLTP)'].value_counts(dropna=False)

electric_range(WLTP)
NaN                           29464
426 km492 km (within city)        2
389 km                            2
402 km484 km (within city)        1
50 km50 km (within city)          1
614 km681 km (within city)        1
573 km573 km (within city)        1
691 km691 km (within city)        1
351 km351 km (within city)        1
48 km48 km (within city)          1
450 km450 km (within city)        1
402 km402 km (within city)        1
540 km540 km (within city)        1
360 km                            1
384 km                            1
Name: count, dtype: int64

In [113]:
 df['electric_range(WLTP)'].str.extract('(\d+) .*').value_counts(dropna=False)

NaN    29464
389        2
402        2
426        2
351        1
360        1
384        1
450        1
48         1
50         1
540        1
573        1
614        1
691        1
Name: count, dtype: int64

In [114]:
df['electric_range(WLTP)'] = df['electric_range(WLTP)'].str.extract('(\d+) .*')
df['electric_range(WLTP)'] = df['electric_range(WLTP)'].astype(float)

#### power_consumption(WLTP)
cogu nan elektrikli arac icin bak

In [115]:
 df['power_consumption(WLTP)'].value_counts(dropna=False)

power_consumption(WLTP)
NaN                29464
21.9 kWh/100 km        2
17.2 kWh/100 km        2
20.6 kWh/100 km        2
18.9 kWh/100 km        1
19.2 kWh/100 km        1
18.4 kWh/100 km        1
19.3 kWh/100 km        1
15.9 kWh/100 km        1
148 kWh/100 km         1
16.9 kWh/100 km        1
18.7 kWh/100 km        1
18.1 kWh/100 km        1
18.6 kWh/100 km        1
Name: count, dtype: int64

In [116]:
df['power_consumption(WLTP)'] = df['power_consumption(WLTP)'].str.extract("(\d+\.*\d*)").astype("float")

#### battery_ownership
Sadece 7 deger var

In [117]:
 df['battery_ownership'].value_counts(dropna=False)

battery_ownership
NaN         29473
Included        7
Name: count, dtype: int64

In [118]:
df.sample(3).T

,3137,27993,12912
make_model,Opel Cascada,Volvo XC90,SEAT Arona
make,Opel,Volvo,SEAT
model,Cascada,XC90,Arona
location,DE,BE,DE
price,9950.0,45995.0,16990.0
body_type,Convertible,Off-Road/Pick-up,Off-Road/Pick-up
type,Used,Used,Used
doors,2.0,5.0,5.0
country_version,Germany,NaN,Germany
warranty,NaN,NaN,NaN
mileage,183679.0,90000.0,13560.0
gearbox,Manual,Automatic,Manual
fuel_type,Diesel,Gasoline,Domestic gas H
colour,Grey,Blue,White
paint,Metallic,Metallic,NaN
seller,Dealer,Dealer,Dealer
seats,4.0,5.0,5.0
engine_size,1956.0,1969.0,999.0
gears,6.0,8.0,6.0
CO2_emissions,138.0,NaN,106.0
manufacturer_colour,Phantom Grau Metallic,NaN,Candy Weiss
drivetrain,NaN,NaN,Front
cylinders,4.0,4.0,3.0
fuel_consumption,5.2,7.9,3.5
comfort_convenience,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ..."
entertainment_media,"[Bluetooth, CD player, Hands-free equipment, O...","[Android Auto, Apple CarPlay, Bluetooth, CD pl...","[Bluetooth, Digital radio, Hands-free equipmen..."
safety_security,"[ABS, Adaptive headlights, Bi-Xenon headlights...","[ABS, Adaptive Cruise Control, Adaptive headli...","[ABS, Central door lock, Daytime running light..."
extras,"[Alloy wheels, Electronic parking brake, Emerg...","[All season tyres, Alloy wheels (20""), Ambient...","[Alloy wheels (16""), Roof rack, Voice Control]"
empty_weight,1816.0,2136.0,1308.0
full_service_history,Yes,Yes,Yes
nonsmoker_vehicle,Yes,Yes,Yes
emission_class,Euro 5,Euro 6d-TEMP,Euro 6
emissions_sticker,4,NaN,4
upholstery,Full leather,Full leather,Cloth
production_date,NaN,NaN,2019.0
previous_owner,2.0,1.0,1.0
other_fuel_types,NaN,NaN,NaN
power_consumption,NaN,NaN,NaN
energy_efficiency_class,NaN,NaN,NaN
CO2_efficiency,NaN,NaN,NaN
fuel_consumption(WLTP),NaN,NaN,NaN
taxi_or_rentalcar,NaN,NaN,NaN
electric_range(WLTP),NaN,NaN,NaN
power_consumption(WLTP),NaN,NaN,NaN
battery_ownership,NaN,NaN,NaN
first_registration_year,2014-01-01 00:00:00,2018-01-01 00:00:00,2020-01-01 00:00:00
power_hp,165.0,250.0,90.0

## Export dataframe to csv

In [119]:
df.to_csv("auto_scout_1.csv", index=False)